html,
body {
  margin: 0px;
}

header {
  border: 1px black solid;
  text-align: center;
  background-color: #546a7b;
}

header > * {
  display: inline-block;
  color: #c9c5b9;
}

header h1 {
  margin: 0px 200px;
}

header a {
  color: #c9c5b9;
  font-size: 25px;
}

.opening-4-container {
  text-align: right;
  background-color: #62929e;
}

.opening-4-container div {
  display: inline-block;
}

.opening-4-title {
  text-align: center;
  color: #fdfdff;
  vertical-align: 210px;
  font-size: 45px;
  margin-right: 30px;
}

.grandline-summary-container {
  background-color: #c6c5b9;
}

.grandline-summary-container > * {
  display: inline-block;
}

.grandline-summary-container h2 {
  color: #62929e;
  font-size: 80px;
  vertical-align: 150px;
}

.grandline-summary-container p {
  background-color: #393d3f;
  color: #fdfdff;
  margin: 0px 105px 0px 0px;
  padding: 110px;
  font-size: 27px;
  width: 50%;
  text-align: justify;
}
